.page-container {
  display: flex;
  margin: 2rem auto;
  letter-spacing: 0.1rem;
}

.page-row {
  margin: 1rem auto;
}

.pagination li {
  border: none;
}

.pagination a span {
  border: 1px dotted grey;
  padding: 0.1rem 0.3rem;
}

.active-btn {
  background-color: lightgrey;
}
