.movies-container {
  width: 90vw;
  display: grid;
  margin: 1rem auto;
  background: rgba(0, 0, 0, 0.1);
  justify-content: center;
  justify-items: center;
}

.list {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
