.search-container {
  margin: 1rem;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.search-section form {
  width: 100%;
  margin: 9.5rem 1.5rem;
  position: relative;
}

.search-input {
  padding: 0.4rem 4rem;
  border: 1px dotted grey;
}

.search-input input[type="text"] {
  text-align: center;
  transition: all 2s ease-in-out;
  color: rgba(0, 0, 0, 0.8);
}

.search-input input::placeholder {
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.7);
}

.fa-search {
  position: absolute;
  right: 21%;
  top: 17%;
  opacity: 0.4;
}
