nav {
  width: 50%;
  height: 70px;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  background: rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid grey;
}

nav h1 {
  letter-spacing: 0.4rem;
  font-size: 2.3rem;
  color: rgba(0, 0, 0, 0.9);
}

nav img {
  transition: all 2s ease;
  cursor: pointer;
}

nav img:hover {
  transform: rotate(360deg);
}
